nav > ul {
    display: flex;      /* here > means immediate child */
}
nav li {
    list-style: none;
    margin-right: 20px;
    padding: 3px 7px;
}
nav li:hover {
    background-color: lightgray;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

nav > ul > li:hover > ul {      /* here > means immediate child */
    display: block;
}

.dropdown {
    display: none;
    background-color: bisque;
    position: absolute;
    padding: 0;
}

.dropdown li {
    margin: 0;
    padding: 0 20px;
}